body{
    /*background animation*/
    background: linear-gradient(-45deg, #F2EEE3, #E9D1D0, #FAE0BA, #EB8C73, #F0DED1, #DEC4A7);
    background-size: 500% 500%;
    animation: BackgroundAnimation 10s infinite;

    margin:0;
    height:100%;
    font-size: 1em;
    font-family: Helvetica;
}
@keyframes BackgroundAnimation {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}

.Content
{
    display: flex;
    flex-wrap: wrap;
    margin:2% 1% 2% 1%;
    height:100%;
}

/*Left Column styling(card)-----------------------------------------*/
.Left-Column
{
    margin-right: 3%;
    perspective:80em;
}

.card
{
    width:27vw;
    background-color: #d1b1b0;
    margin-right: 3%;
    text-align:center; 
    height:100%;

    transition: transform 1s;
    transform-style: preserve-3d;
    cursor:pointer;
    border:0.15em solid brown;
    border-radius: 0.5em;
}

/*Applies to both card Faces*/
.card > div
{
    /*Allows the back of each card face to remain hidden*/
    backface-visibility: hidden; 
    overflow: hidden;
}

/*Stlying for when back of card is shown*/
.card.is-flipped{transform: rotateY(180deg);}
/*Make height = 0 so that .Back class becomes full height of the card*/
.card.is-flipped > .Front{height: 0%;}
.card.card.is-flipped > .Back
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /*Card Back rotates on click*/
    transform: rotateY(180deg);
}

/*Card Front*/
.card > .Front 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card>.Back{height: 0%;}

.Main
{
    width:66vw;
}

h2{text-align: center;}

/*Navbar styling-------------------------------------------*/
.NavBar
{
    display:flex;
    align-items: center;
    top:0;
    margin:0;
    background-color:#EB8C73;
    position: sticky;
    text-align: center;
}
.NavBar > .NavItem{flex-grow: 1;}
.NavItem > a{text-decoration: none; color:rgb(59, 86, 147); margin:0;}
.NavItem > a:hover{text-decoration: underline;}

/*Grow main title bigger than other items in the container*/
.NavBar > .NavItemTitle{flex-grow: 13;}

footer
{
    background-color: cadetblue;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align:center;
    font-family: Lucida Console;
    font-size: 1em;
    padding: 0.5% 0 0.5%;
}

/*Picture styling*/
#Olympic{height: 10vh;}
#Basketball{width:10vw;}
#Volleyball{width:75%;}
#ESports{width:75%}

@media screen and (max-width:540px)
{
    body
    {
        background-color: blue;
        font-size: 0.6em;
    }
    .Left-Column{display: none;}
    .Main{width:100%;}
}

/*Tablet*/
@media screen and (max-width: 720px) and (min-width:541px)
{
   body
    {
        background-color: red;
        font-size: 0.8em;
    }
    .Left-Column
    {
        width: 100%;
        order:2;
        margin:0;
        perspective: 150em;
    }
    .card{width: 100%;}
    .Main{width:100%;order:1;}
}

/*Desktop FIRST*/
@media screen and (max-width: 1440px) and (min-width:721px)
{
    body
    {
        background-color: green;
        font-size: 1em;
    }
}